{% extends 'final/layout.html' %}

{% load static %}

{% block newTicket%}
<div id="newTicketMainContainer">
    <div class="text-center">
        <h1 class="text-center">Abrir novo chamado</h1>
        <p> Antes de abrir o chamado, tenha ciencia de que quanto mais informações você colocar, mais rapido será atendido.</p>
        <h2><strong>Para prosseguir, favor preencha as informações abaixo </strong></h2>
        <form action="">
    </div>
    <br>
        <div class="text-center mainFormDiv">
            <div>
                <label class="text-center" for=""> Por favor, selecione a categoria relacionada a sua solicitação!
                    <select data-selected="" class="form-control" name="" id="newTicketSelectOptions">
                        <optgroup label="Nivel 1">
                            <option class="DefaultOption" selected value="">Selecione uma opção</option>
                            <option class="newTicketCategoriesOptions" value="1">Alteração/correção de placa</option>
                            <option class="newTicketCategoriesOptions" value="2">Alteração/correção de descricao</option>
                            <option class="newTicketCategoriesOptions" value="3">Relatorio de jornada de Motorista</option>
                            <option class="newTicketCategoriesOptions" value="4">Alteração de meta de consumo </option>
                            <option class="newTicketCategoriesOptions" value="5">Criação de usuario</option>
                            <option class="newTicketCategoriesOptions" value="6">Bloqueio de usuario</option>
                            <option class="newTicketCategoriesOptions" value="7">Veiculo sem comunicação</option>
                        </optgroup>
                        <optgroup label="Nivel 2">
                            <option class="newTicketCategoriesOptions" value="8"> Treinamento </option>
                            <option class="newTicketCategoriesOptions" value="9"> Problemas com relatorio </option>
                            <option class="newTicketCategoriesOptions" value="10"> Problema de leitura de dados </option>
                            <option class="newTicketCategoriesOptions" value="11"> Procedimentos internos </option>
                        </optgroup>
                        <optgroup label="Nivel 3">
                            <option class="newTicketCategoriesOptions" value="12"> Teste de CAN </option>
                            <option class="newTicketCategoriesOptions" value="13"> Problemas de registro de passageiro </option>
                            <option class="newTicketCategoriesOptions" value="14"> Problemas de configuração </option>
                            <option class="newTicketCategoriesOptions" value="15"> Validacao de eventos </option>
                            <option class="newTicketCategoriesOptions" value="16"> Veiculo apitando </option>
                            <option class="newTicketCategoriesOptions" value="17"> Alteracao de evento</option>
                            <option class="newTicketCategoriesOptions" value="18"> Liberacao de veiculo</option>
                        </optgroup>
                    </select>
                </label>
            </div>
            <div class="newTicketOptionsContent">
            </div>
        </div>
    </form>
</div>


    <div hidden id="newTicketAlteracaoPlacaContainer" class="text-center newTicket-option-selected">
        <div class="text-center newTicketAlteracaoPlaca">
            <label for="">Informe a placa:
                <input class="form-control" type="text" name="" id="">
            </label>
            <label for="">Informe a nova placa: 
                <input class="form-control" type="text" name="" id="">
            </label>
            <label for=""> Informacoes Adicionais (Opcional)
                <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
            </label>
            <input class="btn btn-success Abrir-chamado" type="submit" name="" id="" value="Abrir chamado">
        </div>
    </div>
    
    <div hidden id="newTicketAlteracaoDescricaoContainer" class="text-center newTicket-option-selected">
        <div class="newTicketAlteracaoDescricao">
            <label for="">Informe a descriçao atual:
                <input class="form-control" type="text" name="" id="" >
            </label>
            <label for="">
                Informe a nova descricao:
                <input class="form-control" placeholder="Ex: Modelo do veiculo - Placa" type="text" name="" id="">
            </label>
            <label for="">
                Informações adicionais (Opcional)
                <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
            </label>
            <label for="">
                Caso a alteração se trata de grande quantidade, você pode anexar um arquivo!
                <input class="form-control" type="file" name="" id="">
            </label>
            <input class="btn btn-success Abrir-chamado" type="text" name="" id="" value="Abrir chamado">
        </div>
    </div>
    
    <div hidden id="newTicketJornadaContainer" class="text-center newTicket-option-selected">
        <div class="newTicketJornada">
            <label for="">
                Por favor informe o nome do motorista desejado!
                <input class="form-control" type="text" name="" id="">
            </label>
            <div class="newTicketJornadaData">
                <label for="">
                    <span>De:<input class="form-control" type="date"></span>
                </label>
                <label for="">
                    <span>Até: <input class="form-control" type="date" name="" id=""></span>
                </label>
            </div>
            <div>
                <span style="display: block;">Relatorio deve ser separado por:</span>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Mês</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Ano</label>
                </div>
            </div>
            <div>
                <label for="">
                    Informações adicionais (Opcional)
                    <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                </label>
            </div>
        </div>
    </div>
    
    <div hidden id="newTicketAlteracaoMetaConsumoContainer" class="text-center newTicket-option-selected">
        <div class="newTicketAlteracaoMetaConsumo">
            <div class="newTicketAlteracaoMetaConsumoVeiculoInfo">
                <label class="" for="">
                    Placa do veiculo:
                    <input class="form-control" type="text" name="" id="">
                </label>
                <label for="">
                    Informe a meta desejada:
                    <input class="form-control" type="number" name="" id="">
                </label>
            </div>
            <label for="">
                Caso a alteração se trata de grande quantidade, você pode anexar um arquivo!
                <input class="form-control" type="file" name="" id="">
            </label>
            <label for="">Informações adicionais:
                <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
            </label>
        </div>
    </div>
    
    <div hidden id="newTicketCriacaoUsuarioContainer" class="text-center newTicket-option-selected">
        <div class="newTicketCriacaoUsuario">
            <label for="">
                Nome completo:
                <input class="form-control" type="text" name="" id="">
            </label>
            <label for="">
                E-mail:
                <input class="form-control" type="email" name="" id="">
            </label>
            <div class="newTicketCriacaoUsuarioPlataformas">
                <p>Plataforma</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Mix Telematics</label>
                </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">App Wikidados</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Getrak</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox3">Cameras Wikidados</label>
                </div>
            </div>
            <label for="">
                Quais garagens/veiculo este usuario pode visualizar?
                <input class="form-control" type="text" name="" id="">
            </label>
            <label for="">
                Copiar permissão de:
                <select class="form-select" name="newTicketUsuariosEmpresa" id="">
                    {% for user in Users%}
                    <option value="">
                        {{ user }}
                    </option>
                    {% endfor%}
                </select>
            </label>
        </div>
    </div>
    
    <div hidden id="newTicketBloqueioUsuarioContainer" class="text-center newTicket-option-selected">
        <div class="newTicketBloqueioUsuario">
            <label for="">
                E-mail: <input class="form-control" type="email" name="" id="">
            </label>
            <div class="newTicketBloqueioUsuarioPlataformas">
                <p>Plataforma</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Mix Telematics</label>
                </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">App Wikidados</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Getrak</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox3">Cameras Wikidados</label>
                </div>
            </div>
            <label for="">
                Motivo (Opcional): <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
            </label>
        </div>
    </div>
    
    <div hidden id="newTicketVeiculoComunicacaoContainer" class="text-center newTicket-option-selected">
        <div class="newTicketVeiculoComunicacao">
            <div>
                <label for="" class="newTicketVeiculoComunicacaoPlacaChassi text-center">
                    Placa/chassi: <input class="form-control " type="text" name="" id="">
                </label>
            </div>
            <div>
                <label> 
                    <p> Veiculo foi utilizado após a ultima data de comunicação? </p> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="newTicketVeiculoUtilizado" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="newTicketVeiculoUtilizado" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Não</label>
                    </div>
                </label> 
            </div>
            <div>
                <label>
                    <p>Seu veiculo passou por alguma mecanica, auto-eletrica ou qualquer tipo de manutenção recentemente?                    </p> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="newTicketVeiculoMecanica" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input checked" type="radio" name="newTicketVeiculoMecanica" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Não</label>
                    </div>
                </label> 
            </div>
            <div>
                <label for=""> Informações adicionais:
                    <textarea class="form-control newTicketInfoAdicional" name="" id="" cols="50" rows="5"></textarea>
                </label>
            </div>
        </div>
    </div>

    <div hidden id="newTicketTreinamentoContainer">
        <div class="newTicketTreinamento">
            <label for="">
                Sugerir data do treinamento (Sujeito a alteração) <input class="form-control" type="datetime-local" name="" id="">
            </label>
            <label for="">
                <div>
                    <p>Plataforma</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Mix Telematics</label>
                    </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">App Wikidados</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Getrak</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox3">Cameras Wikidados</label>
                    </div>
                </div>
            </label>
            <label for="">
                Informações adicionais:
                <textarea class="form-control" name="" id="" cols="50" rows="5"></textarea>
            </label>
        </div>
    </div>

    <div hidden id="newTicketProblemasRelatorioContainer">
        <div class="newTicketProblemasRelatorio">
            <label for="">
                <select class="form-select" name="" id="">
                    <optgroup label="Relatórios de custo">
                        <option value="">Relatório de custo por distancia</option>
                        <option value="">Relatório de historico de serviços</option>
                    </optgroup>
                    <optgroup label="Painéis">
                        <option value="">Painel de 7 dias</option>
                        <option value="">Dashboard de performance de veiculo</option>
                        <option value="">Painel de limite de velocidade na rodovia</option>
                    </optgroup>
                    <optgroup label="Gerencialmento de qualidade de dados">
                        <option value="">Relatório de exclusão de atividade</option>
                        <option value="">Relatório diario de exclusão de atividade</option>
                        <option value="">Relatório de precisão da posição do evento</option>
                    </optgroup>
                    <optgroup label="Relatório de evento">
                        <option value=""> Relatório detalhado de evento</option>
                        <option value=""> Relatório sumarizado de eventos de servidor em geocerca</option>
                        <option value=""> Relatório geral de evento</option>
                        <option value=""> Relatório resumido de eventos </option>
                        <option value=""> Relatório de evento de terminal</option>
                    </optgroup>
                    <optgroup label="Relatório de combustivel">
                        <option value="">Relatório comparativo de combustível</option>
                        <option value="">Relatório diário de horas de motor e combustível</option>
                        <option value="">Relatório diário de evento de consumo de combustivel</option>
                        <option value="">Relatório detalhado de horas do motor/combustível</option>
                        <option value="">Relatório detalhado de combustivel medido</option>
                        <option value="">Relatório de consumo por horas do motor</option>
                        <option value="">Relatório de combustivel inserido</option>
                        <option value="">Relatório de resumo mensal de combustivel</option>
                        <option value="">Painel operacional de combustivel</option>
                        <option value="">Relatório de consumo de combustivel</option>
                        <option value="">Relatório mensal de combustivel medido</option>
                        <option value="">Relatório resumido de combustivel medido</option>
                    </optgroup>
                    <optgroup label="Relatório de lista">
                        <option value="">Relatório de Configuração dos Dispositivos do Veículo</option>
                        <option value="">Relatório de Configuração de Eventos do Veículo</option>
                        <option value="">Relatório de veículos por dados baixados</option>
                        <option value="">Relatório de Veículos por Tipo de Unidade</option>
                        <option value="">Relatório da lista de ativos</option>
                        <option value="">Relatório de diagnóstico de gestão de ativos</option>
                        <option value="">Relatório de status móvel atual</option>
                        <option value="">Relatório de validação dos certificados dos motoristas</option>
                        <option value="">Relatório de vencimento das licenças de motorista</option>
                        <option value="">Relatório de lista de motoristas</option>
                        <option value="">Relatório de eventos do info hub</option>
                        <option value="">Relatório detalhado do trabalho</option>
                        <option value="">Relatório sumarizado e detalhado por modelo e data</option>
                        <option value="">Relatório de mudanças de fuso horário</option>
                    </optgroup>
                    <optgroup label="Relatório de movimento">
                        <option value="">Relatório de visita diario</option>
                        <option value="">Relatório de visão geral de localização </option>
                        <option value="">Relatório de localização não visitadas</option>
                        <option value="">Relatório geral de visitas</option>
                        <option value="">Relatório resumido de movimentos</option>
                    </optgroup>
                    <optgroup label="Relatório de RAG">
                        <option value="">Relatório RAG (Verde, amarelo, verde) diário detalhado</option>
                        <option value="">Relatório RAG resumido e detalhado </option>
                        <option value="">Relatório de comportamento do motorista</option>
                        <option value="">Relatório RAG Diário</option>
                        <option value="">Rag Plus Daily Report</option>
                        <option value="">Relatório RAG Resumido</option>
                        <option value="">Relatório RAG Anual</option>
                    </optgroup>
                    <optgroup label="Relatório de pontuação">
                        <option value="">Relatório de pontuação avançada</option>
                        <option value="">Relatório diário de desempenho de condução</option>
                        <option value="">Relatório detalhado de desempenho de condução</option>
                        <option value="">Relatório Debrief do motorista</option>
                        <option value="">Relatório detalhado de classificação de motorista</option>
                        <option value="">Relatório de classificação de motorista</option>
                        <option value="">Relatório Scorecard de motorista</option>
                        <option value="">Relatório de pontuação Flexivel Scorecard</option>
                        <option value="">Relatório diário do RAG flexível</option>
                        <option value="">Relatório resumido do RAG flexível</option>
                        <option value="">Relatório acumulado do ano do RAG flexível</option>
                        <option value="">Relatório mensal de desempenho de condução</option>
                        <option value="">Relatório mensal de tendências</option>
                        <option value="">Relatório de tendência de pontuação padrão e de erros de condução</option>
                        <option value="">Relatório Padrão de Pontuação</option>
                        <option value="">Relatório diário de desempenho de condução</option>
                    </optgroup>
                    <optgroup label="Relatório de viagem">
                        <option value="">Relatório resumido de performance do veículo</option>
                        <option value="">Relatório de utilização do ativo</option>
                        <option value="">Relatório diário de viagem</option>
                        <option value="">Relatório diário de utilização</option>
                        <option value="">Relatório detalhado de viagem</option>
                        <option value="">Relatório de localização de viagem</option>
                        <option value="">Relatório Logbook</option>
                        <option value="">Relatório Mensal de Viagem</option>
                        <option value="">Relatório Resumido de Viagem</option>
                    </optgroup>
                </select>
            </label>
            <label class="newTicketProblemasRelatorioPeriodo" for="">
                Periodo selecionado:
                <div class="text-center">
                    <span>
                        De: <input class="form-control" type="datetime-local" name="" id="">
                    </span>
                    <span>
                        Até <input class="form-control" type="datetime-local">
                    </span>
                </div>
            </label>
            <label class="newTicketProblemasRelatorioVeiGar" for="">
                Por favor nos informe quais veiculos/garagens foram selecionados:
                <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
            </label>
        </div>
    </div>

    <div hidden id="newTicketLeituraDeDadosContainer">
        <div class="newTicketLeituraDeDados">
            <label class="newTicketPlaca" for="">
                Placa <input class="form-control" type="text" name="" id="">
            </label>
            <label for="">
                <p>Por favor informe que tipo de leitura <strong> NÃO </strong> esta sendo realizada </p> 
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Leitura de combustivel</label>
                </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Leitura de velocidade ou RPM</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Dados de viagem</label>
                </div>
            </label>
            <label class="newTicketLeituraDeDadosPeriodo" for="">
                <span>Por favor informe o periodo que apresentou problemas:
                    <div>
                        <span>De: <input class="form-control" type="datetime-local" name="" id=""></span>
                        <span>Até: <input class="form-control" type="datetime-local" name="" id=""></span>
                    </div>
                </span>
            </label>
        </div>
    </div>
    
    <div hidden id="newTicketProcedimentosInternosContainer">
        <div class="newTicketProcedimentosInternos">
            <label for="">
                <p>Informe as plataformas necessárias para realizar o procedimento!</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">CRM</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">MIX Telematics</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Getrak</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">App Wikidados</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Cameras Wikidados</label>
                </div>
            </label>
            <label for="">
                Breve descrição do procedimento
                <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
            </label>
            <input type="submit" value="Abrir chamado" class="btn btn-success Abrir-chamado">
        </div>
    </div>

    <div hidden id="newTicketTesteCANContainer">
        <div class="newTicketTesteCAN">
            <label for="">
                Informe mascara de CAN a ser testada:
                <input class="form-control" type="text" name="" id="">
            </label>
            <label for="">
                Informe marca dos veiculos:
                <select class="form-select" name="" id="">
                    <option value=""> SCANIA </option>
                    <option value=""> MERCEDES BENZ </option>
                    <option value=""> DAF </option>
                    <option value=""> VOLKSWAGEN </option>
                    <option value=""> VOLVO </option>
                    <option value=""> RENAULT </option>
                    <option value=""> HYUNDAI </option>
                </select>
            </label>
            <label for="">
                Informe modelo do veiculo a ser testado!
                <input class="form-control" type="text" name="" id="">
            </label>
            <label for="">
                Informe ano do veiculo
                <input class="form-control" type="number" name="" id="">
            </label>
            <label id="newTicketTesteCANContainerAdicionalInfo" for="">
                Informacoes adicionais:
                <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
            </label>
            <input type="submit" class="btn btn-success Abrir-chamado" value="Abrir chamado">
        </div>
    </div>

    <div hidden id="newTicketRegistroPassageiroContainer">
        <div class="newTicketRegistroPassageiro">
            <label for="">
                Informe nome completo do passageiro
                <input class="form-control" type="text" name="" id="">
            </label>
            <label for="">
                Informe a tag do passageiro
                <input class="form-control" name="" type="number">
            </label>
            <label for="">
                Informe a matricula do passageiro
                <input class="form-control" type="number" name="" id="">
            </label>
            <label for="">
               <p> Informe quais empresas este passageiro pode ter utilizado </p> 
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Italianinha Tur</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">SS Transportes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Transgiro</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Expresso São José</label>
                </div>
            </label>
            <input class="btn btn-success Abrir-chamado" type="submit" name="" id="" value="Abrir chamado">
        </div>
    </div>

    <div id="newTicketConfiguracaoContainer">
        <div class="newTicketConfiguracao">
            
        </div>
    </div>

    <div hidden id="newTicketValidacaoEventosContainer">
        <div class="newTicketValidacaoEventos">
            <label for="">
                Informe nome do evento:
                <input class="form-control" type="text" name="" > 
            </label>
            <label for="">
                Informe placa do veiculo
                <input class="form-control" type="text">
            </label>
            <label class="newTicketValidacaoEventosPeriodo" for="">
                Informe o periodo a ser analisado:
                <div>
                    <span>De:<input class="form-control" type="datetime-local" name="" id=""></span>
                    <span>Até: <input class="form-control" type="datetime-local" name="" id=""></span>
                </div>
            </label>
            <label class="newTicketValidacaoEventosAddInfo" for="">
                Informações adicionais:
                <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
            </label>
            <input type="submit" class="btn btn-success Abrir-chamado" value="Abrir Chamado">
        </div>
    </div>

    <div id="newTicketVeiculoApitandoContainer">
        <div class="newTicketVeiculoApitando">
            <label for="">
                Informe a placa do veiculo:
                <input type="text">
            </label>
            <label for="">
                Informe o <strong>DATA E HORA</strong> onde ocorreu o ultimo apito indevido:
                <input type="datetime-local">
            </label>
        </div>
    </div>

<link rel="stylesheet" href="{% static 'tickets.css' %}">
<script src="{% static 'tickets.js' %}"></script>
{% endblock %}