.loginContainer {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://www.wikidados.com.br/assets/wiki/img/produtos/home/fundo_1.jpg');
}

.loginTela {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 3fr;
    color: white;
    min-width: 50vh;
    min-height: 50vh;
    width: 60vh;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 15px 2px #19e984;
}


.loginTela label {
    font-weight: bold;
}

.loginTela input {
    width: 100%;
    position: relative;
    border-radius: 5px;
    border-width: 2px;
    text-decoration: none;
    border-color: #b9f5d8;
}

.loginTela span {
    display: block;
}


.loginTelaInfo {
    display: grid;
    grid-template-rows: repeat(4, minmax(150px, calc(4/100%)));
    place-items: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-image: url('https://i.gifer.com/3WyW.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -75px;
    background-color: #050F1A;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    transition: all 1s cubic-bezier(.68,-0.55,.45,.61);
}

.loginTelaInfo img {
    padding: 30px !important;
}

.containerDaIMG {
    padding: 20px;
}

.loginTelaInfo div > div{
    padding: 10px;
}
