.loginContainer {
    z-index: 999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url('https://www.wikidados.com.br/assets/wiki/img/produtos/home/fundo_1.jpg');
}

.loginTela {
    margin: auto;
    position: relative;
    color: white;
    width: 410px;
    height: min-content;
    border-radius: 10px;
    background-color: #050F1A;
    box-shadow: 0px 0px 15px 2px #19e984;
    background-image: url('https://i.gifer.com/3WyW.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-clip: border-box;
    background-position: 0 50;
}


.loginTela input {
    width: 100%;
    position: relative;
    border-radius: 5px;
    border-width: 2px;
    border-color: #b9f5d8;
}

.loginTela span {
    display: block;
}

.loginTelaInfo {
    position: relative;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: translateY(50%);
}

.loginTelaInfo label {
    width: 60%;
    min-width: fit-content;
    font-weight: bold;
}

i {
    top: 0;
    left: 0;
    transform: translateY(25%);
}

.loginTelaInfo input {
    margin-top: 5px;
}

.email span, .senha span {
    text-align: left;
}

.email, .senha {
    /* height: fit-content; */
    margin: 15px;
}

.containerDaIMG {
    text-align: center;
    background-color: white;
    padding: 20px;
    z-index: 1;
    position: absolute;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.loginTelaInfoLogar {
    width: 100%;
    position: relative;
}

.loginTelaInfoLogar button {
    width: 40%;
    background-color: #102f50; 
    font-weight: bold;
    border: 0px;

}

.loginTelaInfoLogar button:hover {
    background-color: #20e686;
    transition: all 0.3s ease;
}
