body, html {
    width: 100%;
    height: 100%;
}

.registerContainer {
    z-index: 999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url('https://www.wikidados.com.br/assets/wiki/img/produtos/home/fundo_1.jpg');
}

.registerTela {
    margin: auto;
    position: relative;
    color: white;
    height: 450px;
    min-height: 430px;
    max-width: 500px ;
    min-width: 410px;
    border-radius: 10px;
    background-color: #050F1A;
    box-shadow: 0px 0px 15px 2px #19e984;
    background-image: url('https://i.gifer.com/3WyW.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-clip: border-box;
    background-position: 0 50;
    transform: translateY(50%);
}


.registerTela input {
    width: 100%;
    position: relative;
    border-radius: 5px;
    border-width: 2px;
    border-color: #b9f5d8;
}

.registerTela span {
    display: block;
}

.registerTelaInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: translateY(50%);
}

.registerTelaInfo label {
    width: 60%;
    min-width: fit-content;
    font-weight: bold;
    min-height: fit-content;
}

i {
    top: 0;
    left: 0;
    transform: translateY(25%);
}

.registerTelaInfo input {
    margin-top: 5px;
}

.registerTelaInfo a {
    color: #19e984;
    font-weight: bold;
    text-decoration: none;
}

.registerTelaInfoEsqueciSenha {
    text-shadow: #b9f5d8;
}

.email span, .senha span, .confirmarSenha span, .username span  {
    text-align: left;
}

.email, .senha, .confirmarSenha, .username {
    /* height: fit-content; */
    margin: 15px;
    position: relative;
}

.confirmarSenha, .senha, .email {
    white-space: nowrap;
}

.containerDaIMG {
    text-align: center;
    background-color: white;
    padding: 20px;
    z-index: 1;
    position: absolute;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.registerTelaInfoRegistrar {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    grid-column: -1/1;
}

.registerTelaInfoRegistrar button {
    width: 40%;
    background-color: #102f50; 
    font-weight: bold;
    border: 0px;

}

.registerTelaInfoRegistrar button:hover {
    background-color: #20e686;
    transition: all 0.3s ease;
}

.registerTelaInfoLogin {
    grid-column: -1/1;
}
