#ServiceOrdersForm form {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    place-items: center;
    gap: 1rem;

}

#ServiceOrdersForm form * {
    width: 100%;
}

#serviceOrderDetailsDescription {
    grid-row: 3/5;
    grid-column: 1/-1;
}

#serviceOrderDetailsContainer {
    margin: 15px;
}


#serviceContentsSelection {
    display: grid;
    grid-column: 1/1;
    margin-top: 10px;
    max-width: 50%;
   
}

#serviceContents {
    display: grid;
    grid-column: 1/2;
    place-items: center;
}

#serviceExibition {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#serviceExibitionColum, #serviceExibitionItems {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    width: 100%;
    
}

#serviceExibitionColum span {
    border:black solid 1px;
    padding: 2px;
}

#serviceExibitionColumInformation,#serviceExbitionName  {
    grid-column: 1/3;
}

#serviceExibitionItems span {
    white-space: nowrap;
    text-overflow: ellipsis;
}

#saveButtonContainer {
    grid-column: -1/1;
    width: 100%;
}

#saveButtonContainer input {
    max-width: 20%;
}