@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nunito+Sans:wght@200&family=Playfair+Display&family=Titillium+Web&display=swap');

:root {
    --cabecalho: #004346;
    --fundo: #172a3a;
    --letras: #09bc8a;
    --opacidade: 0
}

body, html {
    height: 100%;
    position: relative;
}

#LayoutContainer {
    height: 100%;
    color: var(--letras);
    background-color: var(--fundo);
    font-family: 'Dongle', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Titillium Web', sans-serif;
}

#mainHeader {
    background-color: #004346;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    white-space: nowrap;
}

.logout {
    text-decoration: none;
    text-align: end;
}

header span {
    color: #09bc8a;
    position: relative;
    margin: 10px;
}

img {
    display: inline-block;
    width: 120px;
    height: 120px ;
    margin-left: auto;
    margin-right: auto;
}

/* Menu Bar */
.navContainer {
    display: grid;
    gap: 5px;
    width: 200px;
    margin-top: 10px;
    justify-content: baseline;
    z-index: 2;
}

.navContainer a {
    color: #09bc8a;
    font-weight: 600;
    width: 100%;
    padding: 5px;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.navContainer a * {
    vertical-align: middle;
}


.mainNavContainer {
    background-color: #004346;
    position: absolute;
    height: 100%;
    z-index: 1;
}

[data-menu="closed"] {
    transform: translateX(-100%);
    transition: .3s ease-out
}

[data-menu="open"] {
    transform: translateX(0%);
    transition: .3s ease-out ;
}


.navContainer div:hover {
    background-color: #508991;
    color: black;
    position: relative;
    width: 100%;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}


.navContainer a div {
    padding: 10px;
}

.navContainer a div > span {
    margin-right: 5px;
}

.menu-icon {
    z-index: 2;
    width: max-content;
    cursor: pointer;
}

.neonButton {
    color: var(--letras);
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 
        0px 0px 1em 0 hsla(187, 29%, 44%, 1);
    border: solid 2px #09bc8a;
    position: relative;
}

.neonButton:hover {
    text-shadow: 0px 0px 3em #508991;
    box-shadow: 0px 0px 30px 0px #508991;
    background-color: #09bc8a;
    color: #172a3a;
    transition: all 350ms ease-in-out ;
    position: relative;
}

.neonButton::after {
    content: '';
    background-color: var(--letras);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(110%) perspective(1em) rotateX(40deg) scale(1, 0.30);
    filter: blur(1em);
    transition: filter 350ms ease-in-out;
    opacity: var(--opacidade);
}

.neonButton:hover::after {
    opacity: 1;
    transition: all 500ms ease;
}

/* Tickets/ServiceOrders Headers */

#ticketHeader, #serviceOrderHeader, #costumerHeader, #equipmentsHeader, #productsHeader, #servicesHeader {
    display: grid;
    grid-template-columns: 5% repeat(6, minmax(100px, 1fr));
    place-items: center;
    margin-bottom: 5px;
    background-color: #004346;
    color: #09bc8a;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* ALL - Tickets/ServiceOrders */

#allTickets a, #allServiceOrder a, #allCostumers a, #allEquipments a, #allProducts a, #allServices a {
    display: grid;
    grid-template-columns: 5% repeat(6, minmax(100px, 1fr));
    place-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding: 10px 0px 10px 0px ;
    
}


/* ----------- */

/* Mouse Over effect for Tickets/ServiceOrders */

#allTickets a:hover, #allServiceOrder a:hover, #allCostumers a:hover, #allEquipments a:hover, #allProducts a:hover, #allServices a:hover {
    background-color: rgb(225, 227, 240);
}

/* SEÇÃO DE COMENTARIOS */

#commentContainerForm form {
    display: grid;
    gap: 10px;
    place-items: end;
    
}

#commentContainerForm input {
    font-size: 12px;
    width: 100px;

}

#commentContainerForm textarea {
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
}

/* ----------- */
