#TicketDetailsForm form  {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(150px, 1fr));  
    font-family: 'Dongle', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Titillium Web', sans-serif;
    align-items: center;
    justify-items: center;

}

#ticketDetailsDescription {
    width: 1fr;
    grid-column: 1/-1;
    grid-row: 4/5;
}

#TicketDetailsForm form * {
    width: 100%;
}

#tickeDetailstStatus, #serviceOrderDetailsStatus {
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 6px 12px 6px 12px;
    min-width: 50px;
}

#ticketEditSubmit {
    grid-column: 1/-1;
    max-width: 30%;
    text-align: center;
}

#mainTicketDetailsContainer {
    margin: 15px;
}

#ticketDetailsSolution {
    width: 1fr;
    grid-column: 1/-1;
}

/* NEW TICKET SECTION */
.mainFormDiv {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(150px,1fr);
}

#newTicketSelectOptions {
    margin-bottom: 30px;
}

.newTicketOptionsContent {
    color: #09bc8a;
    display: grid;
    place-items: center;
    position: relative;
    width: 800px;
    background-color: #004346;
    z-index: 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 5px #508991;
}

.newTicketOptionsContent:first-child {
}
/* ALTERACAO DE PLACA  */

.newTicketAlteracaoPlaca {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 600px));
    gap: 10px;
}

.newTicketAlteracaoPlaca label {
    position: relative;
}

.newTicketAlteracaoPlaca label:last-of-type {
    grid-column: 1/-1;
}

.Abrir-chamado  {
    margin: 15px;
    width: 30%;
    background-color: #004346;
}

/*  */

/* ALTERACAO DE DESCRICAO */

.newTicketAlteracaoDescricao {
    display: grid;
    gap: 10px;
    width: 50%;
}

/*  */

/* JORNADA */

.newTicketJornada {
    width: 50%;
}

.newTicketJornada label {
    width: 100%;
    position: relative;
}

.newTicketJornadaData{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

/*  */

/* META DE CONSUMO */

.newTicketAlteracaoMetaConsumo {
    display: grid;
    position: relative;
    width: fit-content;
    gap: 15px;
    z-index: -1;
}

.newTicketAlteracaoMetaConsumoVeiculoInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
}

/*  */

/* CRIACAO DE USUARIO */

.newTicketCriacaoUsuario {
    display: grid;
    position: relative;
    width: fit-content;
}

/*  */


/* BLOQUEIO DE USUARIO */

.newTicketBloqueioUsuario {
    width: fit-content;
}

.newTicketBloqueioUsuario label {
    width: 100%;
}

/*  */

/* VEICULO SEM COMUNICACAO */

.newTicketVeiculoComunicacao {
    display: grid;
    gap: 15px;

}

.newTicketInfoAdicional {
    position: relative;
}

.newTicketVeiculoComunicacaoPlacaChassi {
    width: 65%;
}

/*  */

/* TREINAMENTO */

.newTicketTreinamento {
    display: grid;
    gap: 15px;
}


/*  */

/* Problemas com relatório */

.newTicketProblemasRelatorio {
    display: grid;
    place-items: center;
    gap: 15px;
}

.newTicketProblemasRelatorioPeriodo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.newTicketProblemasRelatorioPeriodo {
    width: 100%;
}

.newTicketProblemasRelatorioVeiGar {
    width: 100%;
}

/*  */

/* Problemas de leitura de dados */

.newTicketLeituraDeDados {
    display: grid;
    gap: 10px;
    position: relative;
    width: 50%;
}

.newTicketLeituraDeDadosPeriodo div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

/*  */

/* Procedimentos internos */

.newTicketProcedimentosInternos {
    display: grid;
    gap: 10px;
}
/*  */

/* Teste de CAN */

.newTicketTesteCAN {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 10px;
    width: fit-content;
}

#newTicketTesteCANContainerAdicionalInfo {
    grid-column: 1/-1;
}

/*  */

/* Problemas de passageiro */

.newTicketRegistroPassageiro {
    display: grid;
    gap: 10px;
}

/*  */

/* Problemas de configuração */

/*  */

/* Validacao de eventos */

.newTicketValidacaoEventos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 50%;
}

.newTicketValidacaoEventosPeriodo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.newTicketValidacaoEventosPeriodo {
    grid-column: 1/-1;
}

.newTicketValidacaoEventosAddInfo {
    grid-column: 1/-1;
}

/*  */

/* Veiculo apitando */

.newTicketVeiculoApitando {
    display: grid;
    place-items: center;
    gap: 10px;
    width:fit-content;
}

.newTicketVeiculoApitando label {
    width: 100%;
}

.newTicketVeiculoApitandoInfoAdicionais small::after, .newTicketVeiculoApitandoInfoAdicionais small::before {
    content: '*';
    font-weight: bold;
    color: red;
}

/*  */

/* Alteração de evento */

.newTicketAlteracaoEvento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    width: fit-content;

}

.newTicketAlteracaoEvento label {
    width: 100%;
}

.newTicketAlteracaoEventoNovoValor {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 10px;
    grid-column: -1/1;
}

.newTicketAlteracaoEventoJustificativa {
    grid-column: -1/1;
}

.newTicketAlteracaoEventoRelationship {
    grid-column: -1/1;
    width: 100%;
}

.newTicketAlteracaoEventoRelationshipDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/*  */

/* Liberacao de veiculo */

.newTicketLiberacaoVeiculo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.newTicketLiberacaoVeiculoJumper small::after, .newTicketLiberacaoVeiculoJumper small::before {
    content: '*';
    color: red;
}

.newTicketLiberacaoVeiculoJumper small {
    font-style: italic;
    font-size: 12px;
}

.newTicketLiberacaoVeiculoContato {
    display: grid;,
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-column: -1/1;
    
}

.newTicketLiberacaoVeiculoContato span {
    grid-column: -1/1;
}

/*  */
