
#TicketDetailsForm form  {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(150px, 1fr));  
    font-family: 'Dongle', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Titillium Web', sans-serif;
    align-items: center;
    justify-items: center;

}

#ticketDetailsDescription {
    width: 1fr;
    grid-column: 1/-1;
    grid-row: 4/5;
}

#TicketDetailsForm form * {
    width: 100%;
}

#tickeDetailstStatus, #serviceOrderDetailsStatus {
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 6px 12px 6px 12px;
    min-width: 50px;
}

#ticketEditSubmit {
    grid-column: 1/-1;
    max-width: 30%;
    text-align: center;
}

#mainTicketDetailsContainer {
    margin: 15px;
}

#ticketDetailsSolution {
    width: 1fr;
    grid-column: 1/-1;
}

/* NEW TICKET SECTION */
.mainFormDiv {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(150px,1fr);
}

.newTicketOptionsContent {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
}
/* ALTERACAO DE PLACA  */

.newTicketAlteracaoPlaca {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, minmax(250px, 600px));
    gap: 10px;
}

.newTicketAlteracaoPlaca label {
    position: relative;
}

.newTicketAlteracaoPlaca label:last-of-type {
    grid-column: 1/-1;
}

.Abrir-chamado  {
    grid-column: 1/-1;
    width: 50%;
    transform: translateX(50%);
    align-self: center;
}

/*  */

/* ALTERACAO DE DESCRICAO */

.newTicketAlteracaoDescricao {
    display: grid;
    gap: 10px;
    width: 50%;
}

/*  */

/* JORNADA */

.newTicketJornada {
    width: 50%;
}

.newTicketJornada label {
    width: 100%;
    position: relative;
}

.newTicketJornadaData{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

/*  */

/* META DE CONSUMO */

.newTicketAlteracaoMetaConsumo {
    display: grid;
    position: relative;
    width: fit-content;
    gap: 15px;
    z-index: -1;
}

.newTicketAlteracaoMetaConsumoVeiculoInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
}

/*  */

/* CRIACAO DE USUARIO */

.newTicketCriacaoUsuario {
    display: grid;
    position: relative;
    width: fit-content;
}

/*  */


/* BLOQUEIO DE USUARIO */

.newTicketBloqueioUsuario {
    width: fit-content;
}

.newTicketBloqueioUsuario label {
    width: 100%;
}

/*  */

/* VEICULO SEM COMUNICACAO */

.newTicketVeiculoComunicacao {
    display: grid;
}

/*  */