#TicketDetailsForm form  {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(150px, 1fr));  
    font-family: 'Dongle', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Titillium Web', sans-serif;
    align-items: center;
    justify-items: center;

}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ticketDetailsDescription {
    width: 1fr;
    grid-column: 1/-1;
    grid-row: 4/5;
}

#TicketDetailsForm form * {
    width: 100%;
}

#tickeDetailstStatus, #serviceOrderDetailsStatus {
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 6px 12px 6px 12px;
    min-width: 50px;
}

#ticketEditSubmit {
    grid-column: 1/-1;
    max-width: 30%;
    text-align: center;
}

#mainTicketDetailsContainer {
    margin: 15px;
}

#ticketDetailsSolution {
    width: 1fr;
    grid-column: 1/-1;
}

/* NEW TICKET SECTION */
.mainFormDiv {
    display: grid;
    place-items: center;
    grid-template-columns: minmax(150px,1fr);
}

#newTicketSelectOptions {
    color: #09bc8a;
    font-weight: bold;
    background-color: #004346;
    margin-bottom: 30px;
}

.newTicketOptionsContent {
    color: #09bc8a;
    display: grid;
    place-items: center;
    position: relative;
    width: 80%;
    min-width: fit-content;
    background-color: #004346;
    z-index: 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #508991;
}


.newTicketOptionsContent label {
    font-weight: 700;
}

.newTicketOptionsContent input[type="text"], 
.newTicketOptionsContent input[type="number"],
.newTicketOptionsContent input[type="date"],
.newTicketOptionsContent input[type="datetime-local"],
.newTicketOptionsContent input[type="email"],
.newTicketOptionsContent select{
    text-align: center;
    margin-top: 5px;
}

.newTicketOptionsContent textarea, .newTicketOptionsContent input[type="file"] {
    margin-top: 5px;
}

/* ALTERACAO DE PLACA  */

.newTicketAlteracaoPlaca {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    width: 100%;
    gap: 10px;
}

.newTicketAlteracaoPlaca label {
    position: relative;
}

.newTicketAlteracaoPlaca label:last-of-type {
    grid-column: 1/-1;
}

.Abrir-chamado  {
    margin: 15px;
    width: 30%;
    min-width: fit-content;
    background-color: #004346;
}

/*  */

/* ALTERACAO DE DESCRICAO */

.newTicketAlteracaoDescricao {
    display: grid;
    gap: 10px;
    width: 100%;
}

.newTicketNovaDescricao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}

/*  */

/* JORNADA */

.newTicketJornada, .newTicketJornada label {
    width: 100%;
}

.newTicketJornadaData{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.newTicketJornadaPeriodo {
    grid-column: -1/1;
}

/*  */

/* META DE CONSUMO */

.newTicketAlteracaoMetaConsumo {
    display: grid;
    position: relative;
    width: 100%;
    gap: 15px;
    z-index: -1;
}

.newTicketAlteracaoMetaConsumoVeiculoInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
}

/*  */

/* CRIACAO DE USUARIO */

.newTicketCriacaoUsuario {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.newTicketCriacaoUsuarioPlataformas, .newTicketCriacaoUsuarioGaragem, .newTicketCriacaoUsuarioPermissao {
    grid-column: -1/1;
}

/*  */


/* BLOQUEIO DE USUARIO */

.newTicketBloqueioUsuario {
    width: 100%;
}

.newTicketBloqueioUsuario label {
    width: 100%;
}

/*  */

/* VEICULO SEM COMUNICACAO */

.newTicketVeiculoComunicacao {
    display: grid;
    gap: 10px;
    width: 100%;
}


.newTicketVeiculoComunicacaoPlacaChassi, .newTicketVeiculoComunicacaoInfoAdicional, .newTicketVeiculoComunicacaoInfoAdicional label {
    width: 100%;
}

.newTicketVeiculoComunicacaoUltima span {
    display: block;
    margin-bottom: 10px;
}

/*  */

/* TREINAMENTO */

.newTicketTreinamento {
    display: grid;
    gap: 10px;
    width: 100%;
}

/*  */

/* Problemas com relatório */

.newTicketProblemasRelatorio {
    display: grid;
    place-items: center;
    gap: 15px;
    width: 100%;
}

.newTicketProblemasRelatorioPeriodo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.newTicketProblemasRelatorioPeriodo {
    width: 100%;
}

.newTicketProblemasRelatorioVeiGar {
    width: 100%;
}

.newTicketProblemasRelatorioMIX {
    width: 100%;
}

/*  */

/* Problemas de leitura de dados */

.newTicketLeituraDeDados {
    display: grid;
    gap: 10px;
    width: 100%;
}

.newTicketLeituraDeDadosPeriodo div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

/*  */

/* Procedimentos internos */

.newTicketProcedimentosInternos {
    display: grid;
    gap: 10px;
    width: 100%;
}
/*  */

/* Teste de CAN */

.newTicketTesteCAN {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 10px;
    width: 100%;
}

#newTicketTesteCANContainerAdicionalInfo {
    grid-column: 1/-1;
}

/*  */

/* Problemas de passageiro */

.newTicketRegistroPassageiro {
    display: grid;
    gap: 10px;
    width: 100%;
}

/*  */

/* Problemas de configuração */

/*  */

/* Validacao de eventos */

.newTicketValidacaoEventos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.newTicketValidacaoEventosPeriodo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.newTicketValidacaoEventosPeriodo {
    grid-column: 1/-1;
}

.newTicketValidacaoEventosAddInfo {
    grid-column: 1/-1;
}

/*  */

/* Veiculo apitando */

.newTicketVeiculoApitando {
    display: grid;
    place-items: center;
    gap: 10px;
    width: 100%;
}

.newTicketVeiculoApitando div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    gap: 10px;
}

.newTicketVeiculoApitando label {
    width: 100%;
}

.newTicketVeiculoApitandoInfoAdicionais small::after, .newTicketVeiculoApitandoInfoAdicionais small::before {
    content: '*';
    font-weight: bold;
    color: red;
}

/*  */

/* Alteração de evento */

.newTicketAlteracaoEvento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
    width: 100%;

}

.newTicketAlteracaoEvento label {
    width: 100%;
}

.newTicketAlteracaoEventoNovoValor {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 10px;
    grid-column: -1/1;
}

.newTicketAlteracaoEventoJustificativa {
    grid-column: -1/1;
}

.newTicketAlteracaoEventoRelationship {
    grid-column: -1/1;
    width: 100%;
}

.newTicketAlteracaoEventoRelationshipParametro {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 33%);
    gap: 10px;
}

/*  */

/* Liberacao de veiculo */

.newTicketLiberacaoVeiculo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.newTicketLiberacaoVeiculo input, .newTicketLiberacaoVeiculo textarea {
    margin-top: 5px;
}

.newTicketLiberacaoVeiculoJumper small::after, .newTicketLiberacaoVeiculoJumper small::before {
    content: '*';
    color: red;
}

.newTicketLiberacaoVeiculoJumper small {
    font-style: italic;
    font-size: 12px;
}

.newTicketLiberacaoVeiculoContato {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-column: -1/1;
    
}

.newTicketLiberacaoVeiculoContato span, .newTicketLiberacaoVeiculoInfoAdicional, .newTicketLiberacaoVeiculoJumper {
    grid-column: -1/1;
}

.newTicketLiberacaoVeiculoJumper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.newTicketLiberacaoVeiculoJumper span, .newTicketLiberacaoVeiculoJumper small {
    grid-column: -1/1;
}

/*  */
